/* Small devices (до 600px) */
@media (max-width: 600px) {
    .about__inner {
        max-height: none;
        padding: 10px;
    }

    .about__name {
        font-size: clamp(20px, 6vw, 30px);
        text-align: center;
    }

    .about__title {
        font-size: clamp(16px, 9vw, 20px);
        text-align: center;
        white-space: nowrap;
    }

    .about__list-item {
        font-size: 15px;
    }

    .social__title {
        font-size: clamp(20px, 5vw, 25px);
        text-align: center;
    }

    .social__list {
        grid-template-columns: repeat(2, auto);
        gap: 10px 20px;
    }

    html,
    body {
        overflow-x: hidden;
        width: 100%;
    }

    ::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }
}

/* Ultra small devices (до 430px) */
@media (max-width: 430px) {
    .about__container {
        width: 100%;
        padding: 10px;
    }

    .about__name {
        font-size: clamp(18px, 5vw, 24px);
    }

    .social__list {
        gap: 8px 15px;
    }
}